In [1]:
import pandas as pd
import sqlite3
import csv

In [2]:
conn = sqlite3.connect('gabungan.db')

In [5]:
abusive  = pd.read_csv('/Users/mohammadraditya/Kuis Gold/archive/abusive.csv')
abusive = pd.DataFrame.from_dict(abusive)

In [9]:
abusive.to_sql('abusive',conn,if_exists='replace',index=False)
abusive=pd.DataFrame(abusive)
abusive

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

In [11]:
kamus_alay = pd.read_csv("/Users/mohammadraditya/Kuis Gold/archive/kamus_alay.csv", encoding='latin-1')
df = pd.DataFrame.from_dict(kamus_alay)

In [13]:
kamus_alay.to_sql('kamus_alay',conn,if_exists='replace',index=False)
kamus_alay=pd.DataFrame(kamus_alay)
kamus_alay

TypeError: execute() argument 1 must be str, not DataFrame

In [14]:
conn.commit()
conn.close()